---
import pattern from "../assets/images/pattern.webp";
import { hash } from "../utils/git-commit";

const patternUrl = `url(${pattern.src})`;

const commitUrl = `${import.meta.env.REPO_URL}/commit/${hash}`;
const licenseUrl = `${import.meta.env.REPO_URL}/blob/main/LICENSE`;
---

<footer class="footer">
    <div class="footer-pattern"></div>
    <div class="footer-content">
        <p class="footer-seal">
            &copy; <a href={licenseUrl}>The Scribe</a>
            {new Date().getFullYear()}
        </p>
        <p class="footer-mark">
            Sealed by the Hand of Fate: <a
                href={commitUrl}
                target="_blank"
                rel="noopener">{hash}</a
            >
        </p>
    </div>
</footer>

<style define:vars={{ patternUrl }}>
    .footer {
        position: relative;
        text-align: center;
        padding: 4rem 0;
        overflow: hidden;
        background: var(--main-gradient-bg);
    }

    .footer::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        pointer-events: none;

        background: var(--patternUrl);
        opacity: 0.05;
        background-position: top;
        background-size: 30%;
    }

    .footer-content {
        margin: 0 auto;
    }

    .footer-seal {
        font-size: 2em;
        margin-bottom: 0.6rem;
    }

    .footer-seal a {
        font-weight: bold;
        color: #fff;
        text-decoration: none;
    }

    .footer-mark {
        font-size: 1.5em;
        margin-top: 0;
    }

    .footer-mark a {
        font-weight: bold;
        letter-spacing: 0.05em;
        color: #fff;
    }
</style>
